* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 6rem;
  background-color: #dfdfdf;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.insta-link {
  color: yellow;
}
.linkedin {
  color: yellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 20rem;
  padding: 1rem;
  margin: 2rem;
}
.actions {
  text-align: right;
}
.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: 0 1rem;
}
.btn:hover {
  background-color: #9c14584f;
  border-color: #9c1458;
  color: #800040;
}
.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  /* justify-content: center;  */
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 10rem;
  left: 50%;
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
